/* Estilos generales */
body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#cardsContainer{
    margin-left: 4rem;
    margin-right: 4rem;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.btn-primary {
    margin-top: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1 {
    font-size: 28px;
    margin: 0;
}

header p {
    font-size: 18px;
    margin-top: 10px;
}

/* Menú de navegación */
nav {
    background-color: #fff;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

nav div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 10px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

nav a:hover {
    border-color: #333;
}

/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
}

footer p {
    font-size: 14px;
    margin: 0;
}  